.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  /* align-items: center; */
  border-top: 3px solid #e5d9c4;
}
.footer-container {
  
  width: 400px;
  display: flex;
  justify-content: space-around;
  color: #797979;
  font-size: 12px;
  align-items: center;
  padding: 10px;
  /* margin-left: 20px; */
}

.footericon {
  width: 18px;
  height: 17px;
}
.siteby{ 
  color: #797979;
  font-size: 12px;
  margin-right: 80px;
}
.siteby>a{
  color: #797979;
  font-size: 12px;
  text-decoration: none;
}
