*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: #fff2da;
    width: 100%;
    height: 100%;
}
.arrange{
    /* margin-top: 10px;
    background-color: #fff2da;
      
    justify-content: space-around;   */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
   