.carousel-container {
  /* background-color: #fff2da; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* position: relative; */
}

.slide {
  margin-top: 25px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  transition: ease-in;
  max-width: 100%;
}

.slide-hidden {
  display: none;
}
.desc-hidden {
  display: none;
}
.arrow {
  width: 0.9rem;
  height: 0.9rem;
  cursor: pointer;
}
.arrow-left {
  /* background-color: aqua; */
  position: relative;
  bottom:13px;
  left: -15%;
}

.arrow-right {
  position: relative;
  bottom: 31px;
  left: 15%;
}

.indicators {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  top: -20px;
  margin-top: 20px;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: black;
}
.desc {
  color: white;
  /* opacity: 0.9; */
  font-size: 0.8rem;
  padding: 5px;
}
.description {
  border-radius: 0.3rem;
  background-color: #0e070756;
  max-width: 65%;
  /* height: fit-content; */
  text-align: center;
}
